beautifulsoup4
requests
streamlit
nltk
textblob
matplotlib
wordcloud
transformers
torch
spacy
networkx
langdetect
googletrans==4.0.0-rc1
gtts
numpy
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
